.font-site{
    color: white;
}

.bg-gray{
    
    background-color: rgb(46, 46, 46) !important;
}



.btn-whats{
    background-color:#35b548;
    color: white;
    border: none;
    padding: 10px;
    text-decoration: none;
}

.btn-whats:hover{
    background-color:#247430;
    color: white;
    border: none;
    padding: 10px;
    text-decoration: none;
}

